@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root{
    --primary-color: #ff565b;
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}
html{
	overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:white;
}
li{
    list-style-type: none;
}

nav ul{
	list-style: none;
	margin: 0;
}
nav ul li a{
	text-decoration: none;
}
.nav-container{
	max-width: 1170px;
	margin:auto;
}
.nav-row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*
	===================
		HEADER 
		and 
		NAVBAR
	===================
*/
.header{
	background-image: linear-gradient(to right top, #ff565b, #fa595d, #f65c5e, #f15f60, #ec6161);
	padding: 12px 0;
	line-height: 1.5;
	min-height: 10vh;
	font-family: Montserrat;
	font-weight: 600;
	letter-spacing: 2px;
}

.header .logo,
.header .nav{
	padding:0 15px;
}

.logo-img{
	height: 2rem;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a:hover{
	background-color:white;
	color:var(--primary-color);
	padding-left: 5px;
	padding-right: 5px;
	border-radius:5px;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: black;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: black;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
/*
	  Media Query For
	===================
		HEADER 
		and 
		NAVBAR
	===================
*/
@media screen and (max-width:1024px){
	.header{
		letter-spacing: 1px;
	}
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header{
	min-height: 8vh;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding-left: 2px;
   	margin-top: 0.8rem;
	width: 100%;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}

/*
	===================
		HERO 
		CAROUSEL
	===================
*/
.hero{
    background-color: gray;
    height: 88vh;
}
.carousel{
    height: 100%;
}
.carousel-item {
	height: 90vh;
	min-height: 350px;
	background-repeat: no-repeat;
    background-size:cover;
    background-position:cover;
	/* background: no-repeat center center scroll; */
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
  }
  .carousel-caption h5{
	font-size: 3rem;
  }
  .carousel-caption h5 span{
	color:var(--primary-color);
	font-weight: 700;
  }
  .all-services{
	background-color: #fff;
	color:var(--primary-color);
	font-weight: 700;
	transition: all 0.3s ease;
	border: none;
  }
  .all-services:hover{
	background-color: var(--primary-color);
	color: #fff;
  }
  /*
  	Media Query for
	===================
		HERO 
		CAROUSEL
	===================
*/
  @media screen and (max-width:768px) {
	.carousel-item{
		background-position: center;
	}
  }
/*
	===================
		DISCOUNT 
		OFFER
	===================
*/
.discount-offer-full-container{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: rgb(248,248,255);
	margin-top: 2rem;
}
.discount-offer{
	font-size: 1.5rem;
	margin-top: 1rem;
	font-family: 'Dancing Script', cursive;
}

/*
	Media Query for
	===================
		DISCOUNT 
		OFFER
	===================
*/
@media only screen and (max-width: 768px) {
	.discount-offer span img{
		width:150px;
	}
}
@media only screen and (max-width: 545px) {
	.discount-offer span img{
		width:120px;
	}
	.discount-offer{
		font-size: 1.2rem	;
	}
}
@media only screen and (max-width: 446px) {
	.discount-offer span img{
		width:100px;
	}
	.discount-offer{
		font-size: 1rem	;
	}
}
@media only screen and (max-width: 380px) {
	.discount-offer span img{
		width:70px;
	}
	.discount-offer{
		font-size: 1rem	;
	}
}
/*
	===================
		SERVICES
	===================
*/
.services h2,.about-us h2,.contact-us h2,.gallery h2 {
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  .services h2 span,
  .about-us h2 span,
  .contact-us h2 span,
  .gallery h2 span {
    color: #ff565b;
  }
  .section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #ff565b;
	margin-left: -25px;
}
.card-container{
    height:22rem;
    position: relative;    
    perspective: 150rem;
}
.card{
    width:100%;
    height:100%;    
    transform-style: preserve-3d;
    transition: all 0.5s ease;
	text-align: justify;
}
.card-container.hover .card{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:black;
}
.back{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:#000;
    transform:rotateY(180deg);
	/* background-image: linear-gradient(to right top, #ff565b, #fb5c57, #f76253, #f26850, #ee6d4d); */
}
.back-p1,.back-p2{
	width: 80%;
	margin: 0 auto;
	/* font-size: 1.1rem; */
}
.back-p1{
	border-bottom: 1px solid grey;
}
.back ul{
	width:80%;
	margin: 0 auto;
	padding-left: 0;
	border-bottom: 1px solid grey;
}
.back ul li i{
	margin-right: 0.5rem;
}
.back ul li{	
	width: 100%;
	/* font-size: 1.1rem; */
}

.card-img-top{
    height: 13rem;
}
.btn-front{
    background-color: var(--primary-color);
    color: #fff;
}
.btn-front:hover{
    background-color: #fff;
    color:var(--primary-color)
}
.btn-outline-danger{
    border-color: var(--primary-color);
}
.btn-outline-danger:hover{
    background-color:var(--primary-color);
}
.btn-back{
	margin-top: 0.5rem;
}
/*
	===================
		ABOUT US
	===================
*/
.about-us h2{
	font-weight: 700;
	letter-spacing: 0.3rem;
}
.about-us-text {
  text-align: justify;
}
.about-us-image img {
  width: 100%;
  height: 35rem;
  border-radius: 30px;
}
.accordion{
	margin-top: 3rem;
}

/*
	===================
		CONTACT US
	===================
*/
.contact-us-container{	
	display:flex;
	flex-direction: column;	
}
.card-contact-us{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile {
	margin-top: 0.2rem;
	height:7rem;
	width:7rem;	
    border-radius: 50%;
}
.fa-id-card-clip,.fa-mobile-screen,.fa-envelope{
	font-size: 1.5rem;
	margin:0 0.5rem 0.5rem 0;
}
.owner-name,.call-us,.mail-us{
	font-size: 1.2rem;
	font-weight:700;
	font-family: 'Dancing Script', cursive;
	font-weight: 900;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
}
.phone-name,.phone-number,.email{
	font-size: 1.2rem;
	margin:0 0 1rem 2.2rem;
	font-style:oblique;
}
.call-now,.whatsapp-now{
	font-size: 1.5rem;
}

.fa-whatsapp {
  color: #34c049;
  font-size: 1.5rem;
  margin-left: 0.3rem;
}
.fa-phone-alt {
  color: #002d62;
  margin-left: 0.3rem;
  font-size: 1.5rem;
}
.form{
	margin-top:1.5rem;
	font-size:1.5rem;
	font-weight:700;
}
.btn{
	margin-bottom:0.5rem;

}
.address-container{
	margin-top: 1.5rem;
	gap: 1rem;
}
.address-title{
	margin-top: 1rem;
	font-size: 2rem;
	font-family: monospace;
}
.address-details-container{
	width: 50%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	font-family: monospace;
	font-size: 1.3rem;
	padding: 1rem;
}
.map-details{
	width:50%;
}
.map-details iframe{
	width:100%;
	height: 100%;
}
.fa-1,.fa-2{
	background-color:var(--primary-color);
	color:#fff;
	padding: 0.5rem 1rem;
	border-radius: 50%;
}
.unique-label label{
	padding: 0.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	
}
.now-icons{
	display: flex;
	flex-direction: column;
}
.now-icons a{
	color:inherit;
	font-family: 'Dancing Script', cursive;
	font-size: 1.3rem;
}
@media screen and (max-width:560px){
	.address-container{
		flex-direction: column;
	}
	.address-details-container{
		width:100%;
	}
	.map-details{
		width:100%;
	}
}

/*
	===================
		GALLERY
	===================
*/
.gallery{
	margin-top:1.5rem;
}
.gallery-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.img-container {
  margin-top: 1rem;
}
.img-container img {
  width: 250px;
  height: 150px;
  border: 5px solid;
  border-image: linear-gradient(45deg, #ff565b, #ff7440, #fe9422, #edb400, #d3d20d) 1;
  object-fit: cover;
}

@media only screen and (max-width: 530px) {
	/* .img-container,.img-container img{
	  width:100%;
	} */
	.img-container img{
		width: 200px;
		height: 200px;
	}
}
@media only screen and (max-width: 424px){
	.img-container,.img-container img{
		width:100%;
	}
}
/*
	===================
		TESTIMONIALS
	===================
*/
.reviews{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-title h2 span{
  color:#ff565b;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #ff565b;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #ff565b;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -40px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -40px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #ff565b;
}
.testimonials-avatar h3{
	font-weight: 600;
	color: #7d93b2;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#ff565b;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
} 
 .tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: var(--primary-color);
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}
/*
	===================
		FOOTER
	===================
*/
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ff565b;
	font-weight: 800;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 1rem;
  }